html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#infoDiv {
  position: absolute;
  top: 16px;
  left: 110px;

}

#infoDiv input {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
}

body {
  display: flex;
}

calcite-loader {
  align-self: center;
  justify-self: center;
}

/* #info-content {
  padding: 0.75rem;

} */

calcite-rating {
  margin-top: 0.25rem;
}

/* #topbar {
  background: #fff;
  padding: 10px;
} */

/* .action-button {
  font-size: 16px;
  background-color: transparent;
  border: 1px solid #d3d3d3;
  color: #6e6e6e;
  height: 32px;
  width: 32px;
  text-align: center;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
} */

/* .action-button:hover,
.action-button:focus {
  background: #0079c1;
  color: #e4e4e4;
}
.active {
  background: #0079c1;
  color: #e4e4e4;
} */
